<div class="bg-img">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12" data-aos="fade-up" data-aos-duration="3000">
        <h1 class="text-white banner-heading">Mens
          FootWear <span style="color: rgb(38, 0, 255);">Shoes</span> </h1>
        <h3 class="banner-heading2">Winter Fashion</h3>
        <!-- HTML !-->
        <button class="button-1" role="button"><span class="text">Explore</span><span>Products</span></button>

      </div>
      <div class="col-md-6 col-sm-12">
        <div class="banner-img" data-aos="fade-left" data-aos-duration="3000"></div>
      </div>
    </div>
  </div>
</div>


<!-- updated  -->
<div class="container">
  <div class="row">
    <div class="col-md-4 d-flex justify-content-center">
      <div class="my-2">
        <div class="card shadow" style="width: 25rem;">
          <div class="card-header bgcolor text-white text-muted">
            <h3>Catagories</h3>
          </div>
          <ul class="list-group list-group-flush">
            <div class=" my-2">
              <li class="list-group-item w-100 text-center">Filter By Range:</li>
              <div class="d-flex mx-2">
                <button class="btn btn-outline-primary mx-3 my-2" (click)="RangeFormZeroToTwentyFive()" >0 to 250</button>
                <button class="btn btn-outline-primary mx-3 my-2" (click)="RangeFromTwentyFiveToFiveHun()">250 to 500</button>
                <button class="btn btn-outline-primary mx-3 my-2" (click)="RangeAboveFromFiveHun()" >500 ...</button>
              </div>
            </div>
            <!-- <li class="list-group-item"><label for="customRange3" class="form-label">Specify Your Range </label>
              <input type="range" class="form-range" min="0" max="5" step="1.6" id="customRange3">
            </li> -->
            <li class="list-group-item w-100 text-center">Filter By Catogry:</li>
            <li class="list-group-item"><button class="btn btn-primary w-100" (click)="getLatestCategoryData()">latest
                data
              </button> </li>
            <li class="list-group-item"><button class="btn btn-primary w-100" (click)="getAllProductData()"> All data
              </button>
            </li>
            <li class="list-group-item"><button class="btn btn-primary w-100" (click)="getShoesData()">Shoes Collection</button>
            </li>
            <li class="list-group-item"><button class="btn btn-primary w-100" (click)="getPantData()">Pant's Collection</button></li>
            <li class="list-group-item"><button class="btn btn-primary w-100" (click)="getShoesData()"> Shirt-Collection
              </button>
            </li>
            <li class="list-group-item"><button class="btn btn-primary w-100" (click)="getQuartaData()" >Qurta
                Collection</button>
            </li>
            <li class="list-group-item"><button class="btn btn-primary w-100" (click)="getMakupData()" >Makeup </button>
            </li>
            <li class="list-group-item"><button class="btn btn-primary w-100" (click)="getBabyData()" > Baby's
                Collection </button>
            </li>
            <li class="list-group-item"><button class="btn btn-primary w-100" (click)="getGroceryData()">Grocerries
              </button>
            </li>
          
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <!---------------------- List-View -------------------------->
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center" *ngFor="let data of showAllProduct | paginate
          : {
              itemsPerPage: tableSize,
              currentPage: page,
              totalItems: count
            };
      let i = index">
          <!-- [hidden]="show===false put in my-3 -->
          <div class="my-3">
            <div class="col ">
              <div class="card shadow" style="width: 18rem;">
                <div class="card-header bgcolor">
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item "><img [src]='Url+data.ProductImages[0].ProductImageUrl'
                      class="card-img-top rounded w-100" alt="..."></li>
                  <li class="list-group-item">
                    <h5 class="card-title">Name:<b>{{data.productName}} Price:{{data.price-1 | currency }} </b></h5>
                  </li>
                  <li class="list-group-item">
                    <h5 class="card-title">Desc: {{data.description}}</h5>
                  </li>
                  <li class="list-group-item"> <a routerLink="/view-product/{{data._id}}"
                      class="btn btn-primary w-100">CheckOut</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---------------------- Grid-View -------------------------->
      <!-- <div class="row">
        <div class="col-md-4 d-flex justify-content-center" *ngFor="let data of AllCatgory | paginate
        : {
            itemsPerPage: tableSize,
            currentPage: page,
            totalItems: count
          };
    let i = index">
          <div class="my-3" *ngIf="show===false">
            <div class="card shadow" style="width: 18rem;">
              <div class="card-header bgcolor">

              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item "><img [src]='Url+data.ProductImages[0].ProductImageUrl'
                    class="card-img-top rounded w-100" alt="..."></li>
                <li class="list-group-item">
                  <h5 class="card-title">Name:<b>{{data.productName}} Price:{{data.price-1 | currency }} </b></h5>
                </li>
                <li class="list-group-item">
                  <h5 class="card-title">Desc: {{data.description}}</h5>
                </li>
                <li class="list-group-item"> <a routerLink="/view-product/{{data._id}}"
                    class="btn btn-primary w-100">CheckOut</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->

    </div>
  </div>

  <!-- // pagination  -->
  <div class="d-flex justify-content-center">
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
  <!-- // pagination  -->

</div>

<!-- updated  -->







<!-- <div class="container my-4">
  <div class="row">
    <div class="col-4 my-2 ">
      <div class="card shadow" style="width: 25rem;">
        <div class="card-header bg-primary text-white text-muted">
          <h3>Catagories</h3>
        </div>
        <ul class="list-group list-group-flush">
          <div class="d-flex my-2">
            <li class="list-group-item">Prefrence:</li>
            <div class="d-flex mx-2">
              <button class="btn btn-primary mx-3">Vertically</button>
              <button class="btn btn-primary">Horizantily</button>
            </div>
          </div>
          <li class="list-group-item"><label for="customRange3" class="form-label">Specify Your Range </label>
            <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3"></li>
          <li class="list-group-item"><button class="btn btn-primary w-100" (click)="getLatestData()">latest data </button> </li>
          <li class="list-group-item"><button class="btn btn-primary w-100" (click)="getAllData()"> All data </button> </li>
        </ul>
      </div>

    </div>
    <div class="col-8  d-flex justify-content-center" *ngFor="let data of showAllProduct">
      <div class="row my-3" [hidden]="show===false">
        <div class="col ">
          <div class="card shadow" style="width: 18rem;">
            <div class="card-header bg-primary">
              
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item "><img  [src]='Url+data.ProductImages[0].ProductImageUrl' class="card-img-top rounded w-100" alt="..."></li>
              <li class="list-group-item"> <h5 class="card-title">Name:<b>{{data.productName}} Price:{{data.price-1 | currency }} </b></h5></li>
              <li class="list-group-item"><h5 class="card-title">Desc: {{data.description}}</h5></li>
              <li class="list-group-item"> <a href="#" class="btn btn-primary w-100">CheckOut</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- showDatawhoseCatagoryIs -->
<!-- <div class="col-3 col-md-6 col-xl-3 d-flex justify-content-center" *ngFor="let data of AllCatgory">
     <div class="container">
       <div class="row my-3" *ngIf="show===false" >
        <div class="col" >
          <div class="card shadow" style="width: 18rem;">
            <div class="card-header bg-primary">
              
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item "><img  [src]='Url+data.ProductImages[0].ProductImageUrl' class="card-img-top rounded w-100" alt="..."></li>
              <li class="list-group-item"> <h5 class="card-title">Name:<b>{{data.productName}} Price:{{data.price-1 | currency }} </b></h5></li>
              <li class="list-group-item"><h5 class="card-title">Desc: {{data.description}}</h5></li>
              <li class="list-group-item"> <a href="#" class="btn btn-primary w-100">CheckOut</a></li>
            </ul>
          </div>
        </div>
      </div>
     </div>
    </div> -->
<!-- showDatawhoseCatagoryIs -->

<!-- </div> --> -->


<!-- <div class="card shadow rounded" style="width: 16rem;height: 4rem;">
    <img  [src]='Url+data.ProductImages[0].ProductImageUrl' class="card-img-top rounded " alt="...">
    <div class="card-body">
      <h5 class="card-title">Name:<b>{{data.productName}}</b></h5>
      <h5 class="card-title">Desc: {{data.description}}</h5>
      <div class="d-flex">
        <h5 class="card-title mx-1">Price:{{data.price-1 | currency }}</h5>
        <h5 class="card-title text-info">Quantity:{{data.quantity}} </h5>
      </div>
      <a href="#" class="btn btn-primary w-100">CheckOut</a>
    </div>
  </div> -->