<div class="container">
    <div class="row">
        <div class="col-md-6" *ngFor="let data of showAllProduct">
            <div class="card" style="width: 18rem;">
                <img [src]='Url+data.ProductImages[0].ProductImageUrl' class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{data.productName}}</h5>
                  <p class="card-text">{{data.description}}</p>
                  <p class="card-text">Price:{{data.price-1 | currency }} </p>
                  <p class="card-text">Quantity:{{data.quantity}} </p>
                  <a href="#" class="btn btn-primary w-100">CheckOut</a>
                </div>
              </div>
        </div>
    </div>
</div>
