<!-- navbar  -->

<!-- <nav class="navbar navbar-expand-lg navbar-light navbar-background-color">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/home">Ecommerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button> 
   <ng-container *ngFor="let productData of getproductData"> -->
     
        <!-- <input class="form-control me-2 w-50" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-light" type="submit" >Search</button>  -->
    
      <!-- (click)="getProductById(productData._id)" -->
    <!-- </ng-container> -->


    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/about-us">About-Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/contact-us">Contact-Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="ManagementModule/login"><i class="fas fa-user text-white"></i> </a>
        </li>
      </ul>
    </div>
  </div>
</nav>  -->

<!-- latest  -->
<nav class="navbar ">
  <div class="navbar-container container">
      <h1 class="logo">
          <!-- <a routerLink="/home"><img src="../../../../assets/Images/blkops1-logo.png" class="logoimg" alt="" srcset=""></a> -->
          
      </h1>
      <input type="checkbox" name="" id="">
      <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
      </div>
      <ul class="menu-items">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/products">Products</a></li>
          <li><a routerLink="/about-us">About</a></li>
          <li><a routerLink="/contact-us">Contact</a></li>
          <li><a routerLink="ManagementModule/login"><i class="fa-solid fa-right-to-bracket"></i></a></li>
          <li><a routerLink="/"><i class="fa-solid fa-cart-shopping" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-sort-down"></i></i></a></li>
      </ul>
      
  </div>

</nav>

<!-- latest  -->













<!-- <nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/home">Ecommerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button> -->
    <!-- <ng-container *ngFor="let productData of getproductData"> -->
     
        <!-- <input class="form-control me-2 w-50" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-light" type="submit" >Search</button> -->
    
      <!-- (click)="getProductById(productData._id)" -->
    <!-- </ng-container> -->

<!-- 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/about-us">About-Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/contact-us">Contact-Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="ManagementModule/login"><i class="fas fa-user text-white"></i> </a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->